.avatar {
  text-align: center;
  
  .avatar--onclick-overlay {
    display: block;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .material-icons {
    line-height: 2.4rem;
  }

  &.avatar--block {
    margin: 0 auto;
    display: block;
  }

  .avatar--presence-container {
    position: absolute;
    z-index: 3;
    right: 14.64%;
    bottom: 14.64%;
    height: .5em;
    width: .5em;

    .menu {
      position:absolute;
      top: 0.2rem;
      left: 0.8rem;
      z-index: 20;
      display: none;
      font-size: 0.7rem;
      margin: 0 -0.4rem;
      padding: 0;
      min-width: 100%;

      .menu-item {
        display: block;
        text-align: left;
      }
      .menu-item > a {
        color: $primary-color;
        font-style: normal;
      }
    }
    .avatar-presence {
      display: block;
    }
    .avatar-presence:hover  .menu {
     display: block; 
    }
  }
}