.btn {
  position: relative;
  &:not(.btn-action) {
    .material-icons {
      vertical-align: middle;
      margin-right: 5px;
    }
  }

  > .menu {
    position: absolute;
    display: none;
    padding: 0;
    text-align: left;
    min-width: 100%;
  }

  &:hover {
    > .menu {
      display: block;
      // top: 0;
      left: 0;
    }
  }
}