$drawerWidth: 300px;
$drawerMinWidth: 60px;
$drawerMaxWidth: 300px;

$drawerTransitionTime: 0.3s;

.body__drawer--type--fixed {
  &.body__drawer--open {
    padding-left: $drawerWidth;

    .drawer--container {
      &.drawer--container--open--left {
        padding-left: 0;
      }
      &.drawer--container--open--right {
        padding-right: 0;
      }
    }
  }
}

.drawer--container {
  position: relative;
  overflow-x: hidden;
  -webkit-transition: padding-left $drawerTransitionTime, padding-right $drawerTransitionTime; /* Safari */
  transition: padding-left $drawerTransitionTime, padding-right $drawerTransitionTime;

  &.drawer--container--open--left {
    padding-left: $drawerWidth;
  }
  &.drawer--container--open--right {
    padding-right: $drawerWidth;
  }

  .drawer {
    background: $primary-color;
    color: $secondary-color;
    position: absolute;
    z-index: 1000;
    top: 0;
    width: $drawerWidth;
    max-width: $drawerMaxWidth;

    -webkit-transition: left $drawerTransitionTime ease-out, right $drawerTransitionTime ease-out; 
    transition: left $drawerTransitionTime ease-out, right $drawerTransitionTime ease-out;

    &.drawer--type--fixed {
      position: fixed;
    }
  }

  @-webkit-keyframes slide {
    100% { left: 0; }
  }

  @keyframes slide {
    100% { left: 0; }
  }

  & > .drawer--open {
    &.drawer--position--left {
      left: 0;
    }
    &.drawer--position--right {
      right: 0;
    }
  }

  .drawer--full--height {
    height: 100%;
  }

  .drawer--position--left {
    left: -$drawerWidth;
    -webkit-box-shadow: rgba(0, 0, 0, 0.08) 2px 0px 5px 0px;
    box-shadow: rgba(0, 0, 0, 0.08) 2px 0px 5px 0px;
  }

  .drawer--position--right {
    right: -$drawerWidth;
    -webkit-box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 5px 2px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 0px 5px 2px;
  }

  .drawer--body {
    height: 100%;
    display: flex;
    flex-direction: column;

    .drawer--body--content {
      flex-grow: 1;
    }
 
    .drawer--body--footer {
      padding: 0.3rem;

      a {
        font-weight: 700;
        color: $secondary-color;
      }

      p {
        margin: 0;
      }
    }
  }
}
