.form-group {
    label {
        cursor: pointer;
        font-weight: 500;
    }

    &.loading {
        color: initial !important;
    
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #fff;
            opacity: 0.5;
        }

        &::after {
            z-index:2;
        }
    }
}