@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import "components/breadcrumbs";
@import "components/toast";

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

@import "components/nav";
@import "components/avatar";
@import "components/button";
@import "components/figure";
@import "components/form";
@import "components/modal";
@import "components/step";
@import "components/drawer";
@import "components/accordion";

a {
  cursor: pointer;
}
.hide {
  display: none;
}
